@media only screen and (min-width: 1366px) {
    .home{
        display: flex;
        flex-direction: row;
        padding-top: 3px;
    }
    .search>input{
        padding: 15px;
        border-radius: 90px;
        width: 600px;
        height:25px;
        margin-top: 70px;
        margin-left: 300px;
    }
    .search>input::placeholder {
        font: 1.5rem/3 sans-serif;
    }
    
    .home-div{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
    .home-div>p{
        color: white;
        font-size: 25px;
        font-weight: 400;
    }
    .home-news{
        color:white ;
        font-weight: 800;
        font-size: 90px;
        margin-left:40px
    }
    
    
}
