@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  margin: 0;
}
body {
  margin: 0;
  background-image: url("./pexels-alex-andrews-271121-3805983.jpg");
  background-size: cover;
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  opacity: 0.9;
}




